Demo_Dev/src/WSReferences/WSСсылкаTest/WsDefinitions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://localhost/testpacket"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="http://localhost/testpacket"
		name="TestWebServer"
		targetNamespace="http://localhost/testpacket">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="http://localhost/testpacket"
				targetNamespace="http://localhost/testpacket"
				attributeFormDefault="unqualified"
				elementFormDefault="qualified">
			<xs:complexType name="ObjectTest">
				<xs:sequence>
					<xs:element name="Code"
							type="xs:integer"/>
					<xs:element name="Name"
							type="xs:string"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ObjectTestExtended">
				<xs:complexContent>
					<xs:extension base="xsd1:ObjectTest">
						<xs:sequence>
							<xs:element name="ExtendedProperties"
									type="xsd1:AdditionalProperty"
									maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="AdditionalProperty">
				<xs:sequence>
					<xs:element name="Property"
							type="xs:string"/>
					<xs:element name="Type"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Answer">
				<xs:sequence>
					<xs:element name="Sucesfull"
							type="xs:boolean"/>
					<xs:element name="Errors"
							type="xs:string"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetSmth">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Code"
								type="xs:string"/>
						<xs:element name="Name"
								type="xs:string"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetSmthResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xsd1:Answer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostSmth">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ObjectExtended"
								type="xsd1:ObjectTestExtended"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostSmthResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xsd1:Answer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="GetSmthRequestMessage">
		<part name="parameters"
				element="tns:GetSmth"/>
	</message>
	<message name="GetSmthResponseMessage">
		<part name="parameters"
				element="tns:GetSmthResponse"/>
	</message>
	<message name="PostSmthRequestMessage">
		<part name="parameters"
				element="tns:PostSmth"/>
	</message>
	<message name="PostSmthResponseMessage">
		<part name="parameters"
				element="tns:PostSmthResponse"/>
	</message>
	<portType name="TestWebServerPortType">
		<operation name="GetSmth">
			<input name="GetSmthRequest"
					message="tns:GetSmthRequestMessage"/>
			<output name="GetSmthResponse"
					message="tns:GetSmthResponseMessage"/>
		</operation>
		<operation name="PostSmth">
			<input name="PostSmthRequest"
					message="tns:PostSmthRequestMessage"/>
			<output name="PostSmthResponse"
					message="tns:PostSmthResponseMessage"/>
		</operation>
	</portType>
	<binding name="TestWebServerSoapBinding"
			type="tns:TestWebServerPortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetSmth">
			<soapbind:operation style="document"
					soapAction="http://localhost/testpacket#TestWebServer:GetSmth"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostSmth">
			<soapbind:operation style="document"
					soapAction="http://localhost/testpacket#TestWebServer:PostSmth"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="TestWebServerSoap12Binding"
			type="tns:TestWebServerPortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetSmth">
			<soap12bind:operation style="document"
					soapAction="http://localhost/testpacket#TestWebServer:GetSmth"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostSmth">
			<soap12bind:operation style="document"
					soapAction="http://localhost/testpacket#TestWebServer:PostSmth"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="TestWebServer">
		<port name="TestWebServerSoap"
				binding="tns:TestWebServerSoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="http://localhost/Demo/ws/ws2.1cws"/>
		</port>
		<port name="TestWebServerSoap12"
				binding="tns:TestWebServerSoap12Binding">
			<soap12bind:address location="http://localhost/Demo/ws/ws2.1cws"/>
		</port>
	</service>
</definitions>